<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mariachi.com.cachapuercos">

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-sdk tools:overrideLibrary="marytts.android.lib"/>

  <application
      android:name="android.support.multidex.MultiDexApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name=".ui.activitys.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".chat.view.activity.ChatActivity"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activitys.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activitys.spechactivity.SpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.informationactivity.InformationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activitys.payactivity.PayActivity"></activity>
    </application>

</manifest>